{% extends 'base.html' %}
{% load static %}
{% block Resource_Dictionary_active %}active open{% endblock %}
{% block List_Resource_Dictionary_active %}active{% endblock %}
{% block title %}User List{% endblock %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Resource /</span> Resource List</h4>

  
    <!-- Responsive Table -->
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Resource List</h5>
        <small class="text-muted float-end"><a class="btn btn-warning" href="{% url 'Create_Resource_Dictionary' %}">Create Resource</a></small>
      </div>
      <h5 class="card-header"></h5>
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <thead>
            <tr class="text-nowrap">
              <th>#</th>
              <th>Resource Name</th>
              <!-- <th>Resources Category</th> -->
              <th>Resource C0ode L1</th>
              <th>Resource Code L2</th>
              <th>Resource Code L3</th>
              <th>Unit of Measure</th>
              <th>Budget Unit Cost</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for resource in filter_resoures %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ resource.Resource_Name }}</td>
              <!-- <td>{{ resource.Resources_Category }}</td> -->
              <td>{{ resource.Resource_Code_L1.Resource_Code_L1 }}</td>
              <td>{{ resource.Resource_Code_L2.Resource_Code_L2 }}</td>
              <td>{{ resource.Resource_Code_L3.Resource_Code_L3 }}</td>
              <td>{{ resource.Unit_of_Measure }}</td>
              <td>${{ resource.Budget_Unit_Cost }}</td>
              <td>
                <a class="btn btn-info btn-sm" href="{% url 'edit_resource' resource.id %}" style="color:white;">Edit</a>

                <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalCenter{{resource.id}}" style="color:white;">Delete</a>
                
        
                <!-- Modal -->
                <div class="modal fade" id="modalCenter{{resource.id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">Deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h1>Delete Resource</h1>
                                <p>Are you sure you want to delete?<br>Resource Name: {{ resource.Resource_Name }}</p>
                                <div class="modal-footer">
                                    <form method="post" action="/Resource_Delete/{{resource.id}}/">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Yes Confirm</button>
                                    </form>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </td>
              
            </tr>
            {% empty %}
            <tr>
              <th  colspan="8" class="text-center">No Resource To Show</th>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Responsive Table -->
  </div>


  {% endblock %}