{% extends 'base.html' %}
{% load static %}
{% block Resource_Code_active %}active open{% endblock %}
{% block Resource_Code_L2_active %}active{% endblock %}
{% block title %}Resource Code L2 List{% endblock %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Resource Code Levels /</span> Resource Code L2</h4>

  
    <!-- Responsive Table -->
    <div class="card">
      <h5 class="card-header">Resource Code L2</h5>


      <div style="display: flex; justify-content: flex-end; margin-right: 8px; margin-bottom: 10px;">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter">
        Create
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCenterTitle">Create Resource Code L2</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">{% csrf_token %}
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="Assembly_Name" class="form-label">Resource Code L1</label>
                                    <select class="form-select" id="Resource_Code_L1" name="Resource_Code_L1" required>
                                        {% for company_Resource_Code_L1 in filter_company_Resource_Code_L1_query %}
                                        <option value="{{ company_Resource_Code_L1.id }}">{{ company_Resource_Code_L1.Resource_Code_L1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="col mb-0">
                                    <label for="Assembly_Code" class="form-label">Resource Code L2</label>
                                    <input type="text" id="Resource_Code_L2" name="Resource_Code_L2" class="form-control" placeholder="Resource Code L2">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Close
                                </button>
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


      <div class="table-responsive text-nowrap">
        
        <table class="table table-bordered">
          <thead>
            <tr class="text-nowrap">
              <th>#</th>
              <th>Resource Code L1</th>
              <th>Resource Code L2</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <tbody>
            {% for Resource_Code_L2 in filter_company_Resource_Code_L2_query %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ Resource_Code_L2.Resource_Code_L1.Resource_Code_L1 }}</td>
              <td>{{ Resource_Code_L2.Resource_Code_L2 }}</td>
              <td>{{ Resource_Code_L2.created_at }}</td>
              <td>{{ Resource_Code_L2.updated_at }}</td>
              
            </tr>
            {% empty %}
            <tr>
              <th  colspan="5" class="text-center">No Resource To Show</th>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Responsive Table -->
  </div>


  {% endblock %}