{% extends 'base.html' %}
{% load static %}
{% block title %}View User{% endblock %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User /</span> User List</h4>
    <!-- Responsive Table -->
    <div class="card mt-4 mb-4 pt-4 pb-4">
        <div class="container">
            <h2>User Details</h2>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
            <p><strong>User Role:</strong> {{ user.user_role }}</p>
            <p><strong>Created By:</strong> {{ user.created_by }}</p>
            <p><strong>Created At:</strong> {{ user.created_at }}</p>
            <a href="{% url 'edit_user' user.id %}">Edit</a> |
            <a href="{% url 'user_list' %}">Back to User List</a>
        </div>
    </div>
</div>
{% endblock %}
