{% extends 'base.html' %}
{% load static %}
{% block Assemblies_Code_active %}active open{% endblock %}
{% block Assemblies_Code_L1_active %}active{% endblock %}
{% block title %}Assemblies Code L1 List{% endblock %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Assemblies Code Levels /</span> Assemblies Code L1</h4>

  
    <!-- Responsive Table -->
    <div class="card">
      <h5 class="card-header">Assemblies Code L1</h5>


      <div style="display: flex; justify-content: flex-end; margin-right: 8px; margin-bottom: 10px;">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter">
        Create
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCenterTitle">Create Assemblies Code L1</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">{% csrf_token %}
                            <div class="row g-2">
                                <div class="col mb-0">
                                    <label for="Assembly_Code" class="form-label">Assemblies Code L1</label>
                                    <input type="text" id="Assemblies_Code_L1" name="Assemblies_Code_L1" class="form-control" placeholder="Assemblies Code L1">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Close
                                </button>
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


      <div class="table-responsive text-nowrap">
        
        <table class="table table-bordered">
          <thead>
            <tr class="text-nowrap">
              <th>#</th>
              <th>Assemblies C0ode L1</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <tbody>
            {% for Assemblies_Code_L1 in filter_company_Assemblies_Code_L1_query %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ Assemblies_Code_L1.Assemblies_Code_L1 }}</td>
              <td>{{ Assemblies_Code_L1.created_at }}</td>
              <td>{{ Assemblies_Code_L1.updated_at }}</td>
              
            </tr>
            {% empty %}
            <tr>
              <th  colspan="4" class="text-center">No Assemblies To Show</th>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Responsive Table -->
  </div>


  {% endblock %}