{% extends 'base.html' %}
{% load static %}
{% block Company_Assemblies_active %}active open{% endblock %}
{% block Assemblies_list_active %}active{% endblock %}
{% block title %}Assemblies List{% endblock %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Assemblies /</span> Assemblies List</h4>

  
    <!-- Responsive Table -->
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Resource List</h5>
        <small class="text-muted float-end"><a class="btn btn-warning" href="{% url 'estimate_assemblies' %}">Estimate Assemblies</a></small>
      </div>
      <h5 class="card-header"></h5>
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <thead>
            <tr class="text-nowrap">
              <th>#</th>
              <th>Assembly_Name</th>
              <!-- <th>Resources Category</th> -->
              <th>Assemblies Code L1</th>
              <th>Assemblies Code L2</th>
              <th>Assemblies Code L3</th>
              <th>Assembly Unit Cost</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for assemblies in filter_Estimation_Assemblies %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ assemblies.Assembly_Name }}</td>
              <!-- <td>{{ resource.Resources_Category }}</td> -->
              <td>{{ assemblies.Assemblies_Code_L1.Assemblies_Code_L1 }}</td>
              <td>{{ assemblies.Assemblies_Code_L2.Assemblies_Code_L2 }}</td>
              <td>{{ assemblies.Assemblies_Code_L3.Assemblies_Code_L3 }}</td>
              <td>${{ assemblies.Assembly_Unit_Cost }}</td>
              <td>
                  <a class="btn btn-info btn-sm" href="{% url 'edit_assembly' assemblies.id %}" style="color:white;">Edit</a>

                  <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalCenter{{assemblies.id}}" style="color:white;">Delete</a>
                  
          
                  <!-- Modal -->
                  <div class="modal fade" id="modalCenter{{assemblies.id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="modalCenterTitle">Deletion</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  <h1>Delete assemblies</h1>
                                  <p>Are you sure you want to delete?<br>Assembly Name: {{ assemblies.Assembly_Name }}</p>
                                  <div class="modal-footer">
                                      <form method="post" action="/assemblies_Delete/{{assemblies.id}}/">
                                          {% csrf_token %}
                                          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                          Close
                                          </button>
                                          <button type="submit" class="btn btn-primary">Yes Confirm</button>
                                      </form>
                                      
                                  </div>
                                  
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </td>
            </tr>
            {% empty %}
            <tr>
              <th  colspan="8" class="text-center">No Resource To Show</th>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Responsive Table -->
  </div>


  {% endblock %}