{% extends 'base.html' %}
{% load static %}
{% block Expenses_Management_active %}active open{% endblock %}
{% block title %}Edit Expense{% endblock %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Expense/</span> Edit Expense</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
      <!-- Basic Layout -->
      <div class="col-xxl">
        <div class="card mb-4">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Expense</h5>
            <small class="text-muted float-end">New Expense</small>
          </div>
        <div class="card-body">
            <form method="POST" action="" onsubmit="event.preventDefault(); calculateValues();">
                {% csrf_token %}

                <input type="hidden" name="expense_id" id="expense_id" value="{{expense.id}}">
                <div class="row">
                    
        
                    <!-- Main Contract Selection -->
                    <div class="mb-3 col-md-4">
                        <label class="col-form-label" for="Contract_Name">Choose Contract</label>
                        <div class="input-group mb-3">
                            <input type="hidden" id="hiddencontractInputValue" value="{{ expense.contract_value.contract_name }}">
                            <input type="hidden" id="hiddencontractInputId" value="{{expense.contract_value.id}}">
                            
                            <input type="text" class="form-control" id="contractInput"  value="{% if expense.contract_value %}{{expense.contract_value.contract_name}}{% endif %}" placeholder="Main Contract" autocomplete="off">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="contractDropdownButton">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu w-100" style="margin-top: 40px; max-height: 200px; overflow-y: auto;" id="contractDropdown"></ul>
                        </div>
                    </div>

                    <!-- Assembly Selection -->
                    <div class="mb-3 col-md-4">
                        <label class="col-form-label" for="Assembly_Name">Choose Assembly Name</label>
                        <div class="input-group mb-3">
                            <input type="hidden" id="hiddenassemblyInputValue" value="{{expense.assembly_value.Assembly_Name}}">
                            <input type="hidden" id="hiddenassemblyInputId" value="{{expense.assembly_value.id}}">

                            <input type="text" class="form-control" id="assemblyInput" value="{% if expense.assembly_value %}{{expense.assembly_value.Assembly_Name}}{% endif %}" placeholder="Assembly Name" disabled>
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="assemblyDropdownButton">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu w-100" style="margin-top: 40px; max-height: 200px; overflow-y: auto;" id="assemblyDropdown"></ul>
                        </div>
                    </div>

                    <!-- Resource Selection -->
                    <div class="mb-3 col-md-4">
                        <label class="col-form-label" for="Resource_Name">Choose Resource</label>
                        <div class="input-group mb-3">
                            <input type="hidden" id="hiddenresourceInputValue" value="{{expense.resource_value.Resource_Name}}">
                            <input type="hidden" id="hiddenresourceInputId" value="{{expense.resource_value.id}}">

                            <input type="text" class="form-control" id="resourceInput" value="{% if expense.resource_value %}{{expense.resource_value.Resource_Name}}{% endif %}" placeholder="Resource Code" autocomplete="off" disabled>
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="resourceDropdownButton">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu w-100" style="margin-top: 40px; max-height: 200px; overflow-y: auto;" id="resourceDropdown"></ul>
                        </div>
                    </div>


                    <!-- Comb-Assem-Code -->
                    <div class="mb-3 col-md-12">
                        <label class="col-form-label" for="Comb_Assem_Code">Comb-Assem-Code</label>
                        <input type="text" class="form-control" id="Comb_Assem_Code" value="{% if expense.comb_assem_code %}{{expense.comb_assem_code}}{% endif %}" name="Comb_Assem_Code" placeholder="Comb-Assem-Code" required readonly>
                    </div>
        
                    
        
                    <!-- Budget Unit Cost -->
                    <div class="mb-3 col-md-12">
                        <label class="col-form-label" for="Budget_Unit_Cost">Budget Unit Cost</label>
                        <input type="number" class="form-control" id="Budget_Unit_Cost" value="{% if not expense.Calculate_Manual_Unit_Cost %}{{expense.unit_cost}}{% else %}{{expense.resource_value.Budget_Unit_Cost}}{% endif %}" name="Budget_Unit_Cost" placeholder="Enter Budget Unit Cost" required readonly>
                    </div>
        
                    <!-- Contract Quantity -->
                    <div class="mb-3 col-md-6">
                        <label class="col-form-label" for="Contract_Quantity">Actual Quantity</label>
                        <input type="number" class="form-control" id="Contract_Quantity" name="Contract_Quantity" value="{% if expense.quantity %}{{expense.quantity}}{% endif %}" placeholder="Enter Contract Quantity" required>
                    </div>
        
                    <!-- Manual Unit Cost -->
                    <div class="mb-3 col-md-6">
                        <label class="col-form-label" for="Manual_Unit_Cost">Manual Unit Cost</label>
                        <input type="number" class="form-control" id="Manual_Unit_Cost" name="Manual_Unit_Cost" placeholder="Enter Manual Unit Cost" value="{% if expense.Calculate_Manual_Unit_Cost %}{{expense.unit_cost}}{% endif %}">
                    </div>
        
                    <!-- Checkbox for Manual Unit Cost -->
                    <div class="mb-3 col-md-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Calculate_Manual_Unit_Cost_name" id="useManualUnitCost" {% if expense.Calculate_Manual_Unit_Cost %}checked{% endif %}>
                            <label class="form-check-label" for="useManualUnitCost">Calculate Manual Unit Cost</label>
                        </div>
                    </div>
                </div>
        
                <div class="row justify-content-end">
                    <div>
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </div>
            </form>
        
            <!-- Table for Result -->
            <div class="mt-4" id="resultTable" style="display: none;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Comb-Assem-Code</th>
                            <th>Contract</th>
                            <th>Assembly</th>
                            <th>Resource</th>
                            <th>Quantity</th>
                            <th>Unit Cost</th>
                            <th>Total Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="resultCode"></td>
                            <td id="contract_td"></td>
                            <td id="assembly_td"></td>
                            <td id="resource_td"></td>
                            <td id="resultQuantity"></td>
                            <td id="resultUnitCost"></td>
                            <td id="resultTotalCost"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-3">
                    <button class="btn btn-warning" id="saveExpenseButton" onclick="saveExpense()">Save Expense</button>
                </div>
            </div>
        
            <script>
                
                const contractInput = document.getElementById('contractInput');
                const contractDropdownButton = document.getElementById('contractDropdownButton');
                const contractDropdown = document.getElementById('contractDropdown');
                const resourceInput = document.getElementById('resourceInput');
                const resourceDropdownButton = document.getElementById('resourceDropdownButton');
                const resourceDropdown = document.getElementById('resourceDropdown');
                const assemblyInput = document.getElementById('assemblyInput');
                const assemblyDropdownButton = document.getElementById('assemblyDropdownButton');
                const assemblyDropdown = document.getElementById('assemblyDropdown');
                const budgetUnitCostInput = document.getElementById('Budget_Unit_Cost');
                const contractQuantityInput = document.getElementById('Contract_Quantity');
                const manualUnitCostInput = document.getElementById('Manual_Unit_Cost');
                const useManualUnitCostCheckbox = document.getElementById('useManualUnitCost');
                const resultTable = document.getElementById('resultTable');
                const resultCode = document.getElementById('resultCode');
                const contract_td = document.getElementById('contract_td');
                const assembly_td = document.getElementById('assembly_td');
                const resource_td = document.getElementById('resource_td');
                const resultQuantity = document.getElementById('resultQuantity');
                const resultUnitCost = document.getElementById('resultUnitCost');
                const resultTotalCost = document.getElementById('resultTotalCost');
            
                const contractData = JSON.parse('{{ filter_MainContract_json|safe }}');
                console.log(contractData);
                
                let assembliesData = null;
                console.log(assembliesData);

                let resourceData = null;
                console.log(resourceData);
      
            
                // Populate the resource dropdown
                function populateContractDropdown(items) {
                    console.log(items)
                    contractDropdown.innerHTML = '';
                    items.forEach(item => {
                        const li = document.createElement('li');
                        const a = document.createElement('a');
                        a.classList.add('dropdown-item');
                        a.textContent = `${item.contract_name || 'Main Contract'}`;
                        a.href = "#";
                        a.addEventListener('click', () => selectcontract(item));
                        li.appendChild(a);
                        // console.log(a)
                        // console.log(li)
                        // contractDropdown.appendChild(li);

                        // console.log('Appended <a> to <li>: ', li);
                        contractDropdown.appendChild(li);
                        // console.log('Appended <li> to dropdown:', contractDropdown);

                    });
                }
            
                // Resource selection
                function selectcontract(contract) {
                    console.log('contract selected')
                    console.log(contract)
                    contractInput.value = contract.contract_name || 'Contract';

                    document.getElementById('hiddencontractInputValue').value=contract.contract_name;
                    document.getElementById('hiddencontractInputId').value=contract.id;
                    
                    contractDropdown.classList.remove('show');
                    fetchAssemblies(contract.id);
                }
            
                // Fetch assemblies for the selected resource
                // function fetchAssemblies(resourceId) {
                //     fetch(`/fetch_assemblies_by_contract/${resourceId}/`)
                //         .then(response => response.json())
                //         .then(data => {
                //             populateAssemblyDropdown(data);
                //             assemblyInput.disabled = false;
                //         })
                //         .catch(error => console.error('Error fetching assemblies:', error));
                // }
                // Fetch assemblies for the selected contract
                async function fetchAssemblies(contractId) {
                    try {
                        const response = await fetch(`/fetch_assemblies_by_contract/${contractId}/`);
                        const data = await response.json();
                        console.log('Fetched data:', data);
                        assembliesData = data; // Update the global variable
                        console.log('Updated assembliesData:', assembliesData);

                        populateAssemblyDropdown(data);
                        assemblyInput.disabled = false;

                        // Enable the calculate button once data is available
                        document.getElementById('calculateButton').disabled = false;
                    } catch (error) {
                        console.error('Error fetching assemblies:', error);
                    }
                }
            
                // Populate assembly dropdown
                function populateAssemblyDropdown(assemblies) {
                    assemblyDropdown.innerHTML = '';
                    assemblies.forEach(assembly => {
                        const assemblyName = assembly.assembly_name || 'Unnamed Assembly';
                        const unitOfMeasure = assembly.unit_of_measure || 'N/A';
                        
                        const li = document.createElement('li');
                        const a = document.createElement('a');
                        a.classList.add('dropdown-item');
                        a.textContent = `${assemblyName} (${unitOfMeasure})`;
                        a.href = "#";
                        a.addEventListener('click', () => selectAssembly(assembly));
                        li.appendChild(a);
                        assemblyDropdown.appendChild(li);
                    });
                }
            
                // Assembly selection
                function selectAssembly(assembly) {
                    assemblyInput.value = assembly.assembly_name;
                    assemblyDropdown.classList.remove('show');
                    fetchResource(assembly.id);

                    document.getElementById('hiddenassemblyInputValue').value=assembly.assembly_name;
                    document.getElementById('hiddenassemblyInputId').value=assembly.id;
                }
                // Fetch assemblies for the selected resource
                // function fetchResource(assemblyId) {
                //     fetch(`/fetch_resorce_by_assemblies/${assemblyId}/`)
                //         .then(response => response.json())
                //         .then(data => {
                //             console.log(data)
                //             populateResourceDropdown(data);
                //             resourceInput.disabled = false;
                //         })
                //         .catch(error => console.error('Error fetching assemblies:', error));
                // }

                async function fetchResource(assemblyId) {
                    try {
                        const response = await fetch(`/fetch_resorce_by_assemblies/${assemblyId}/`);
                        const data = await response.json();
                        console.log('Fetched data:', data);
                        resourceData = data; // Update the global variable
                        console.log('Updated resourceData:', resourceData);

                        populateResourceDropdown(data);
                        resourceInput.disabled = false;

                        // Enable the calculate button once data is available
                        document.getElementById('calculateButton').disabled = false;
                    } catch (error) {
                        console.error('Error fetching assemblies:', error);
                    }
                }




                // Populate resource dropdown
                function populateResourceDropdown(resources) {
                    resourceDropdown.innerHTML = '';
                    resources.forEach(resource => {
                        const resourceName = resource.Resource_Code_L3  || 'Unnamed resource';
                        const unitOfMeasure = resource.Unit_of_Measure || 'N/A';
                        

                        const li = document.createElement('li');
                        const a = document.createElement('a');
                        a.classList.add('dropdown-item');
                        a.textContent = `${resourceName} (${unitOfMeasure})`;
                        a.href = "#";
                        a.addEventListener('click', () => selectResource(resource));
                        li.appendChild(a);
                        resourceDropdown.appendChild(li);
                    });
                }
            
                // Resource selection
                function selectResource(resource) {
                    resourceInput.value = resource.Resource_Code_L3;
                    resourceDropdown.classList.remove('show');
                    budgetUnitCostInput.value = parseFloat(resource.Budget_Unit_Cost) || 0; // Populate Budget Unit Cost
                    document.getElementById('Comb_Assem_Code').value = resource.Resource_Name;

                    document.getElementById('hiddenresourceInputValue').value=resource.Resource_Code_L3;
                    document.getElementById('hiddenresourceInputId').value=resource.id;
                }
            
                // Calculate total cost
                function calculateValues() {
                    const combAssemCode = document.getElementById('Comb_Assem_Code').value;

                    const expense_id = document.getElementById('expense_id').value;

                    const Calculate_Manual_Unit_Cost_name = document.getElementById('useManualUnitCost').checked;


                    const quantity = parseFloat(contractQuantityInput.value) || 0;
                    const manualUnitCost = parseFloat(manualUnitCostInput.value) || 0;
                    const budgetUnitCost = parseFloat(budgetUnitCostInput.value) || 0;
                    const useManual = useManualUnitCostCheckbox.checked;
            
                    const unitCost = useManual ? manualUnitCost : budgetUnitCost;
                    const totalCost = unitCost * quantity;
            
                    // Populate result table
                    resultCode.textContent = combAssemCode;
                    contract_td.textContent = document.getElementById('hiddencontractInputValue').value;
                    assembly_td.textContent = document.getElementById('hiddenassemblyInputValue').value;
                    resource_td.textContent = document.getElementById('hiddenresourceInputValue').value;
                    resultQuantity.textContent = quantity;
                    resultUnitCost.textContent = unitCost.toFixed(2);
                    resultTotalCost.textContent = totalCost.toFixed(2);
                    resultTable.style.display = 'table';
                }
            
                // Event listeners for dropdowns
                contractDropdownButton.addEventListener('click', () => {
                    contractDropdown.classList.toggle('show');
                });

                assemblyDropdownButton.addEventListener('click', () => {
                    assemblyDropdown.classList.toggle('show');
                });

                resourceDropdownButton.addEventListener('click', () => {
                    resourceDropdown.classList.toggle('show');
                });

                // Event listeners for contract input
                // contractInput.addEventListener('click', () => {
                //     contractDropdown.classList.toggle('show');
                // });

                // Filter dropdown based on input
                // contractInput.addEventListener('input', () => {
                //     const value = contractInput.value.toLowerCase();
                //     const contractData = contractInput.filter(item => item.contract_name.toLowerCase().includes(value));
                //     populateContractDropdown(contractData);
                //     contractDropdown.classList.add('show');
                // });
            
                
                // Filter resources by input
                contractInput.addEventListener('input', () => {
                    const value = contractInput.value.toLowerCase();
                    console.log('value')
                    console.log(value)
                    const filteredcontract = contractData.filter(item =>
                        (item.contract_name || '').toLowerCase().includes(value)
                    );
                    populateContractDropdown(filteredcontract);
                    contractDropdown.classList.toggle('show');
                });

                // Filter resources by input
                assemblyInput.addEventListener('input', () => {
                    const value = assemblyInput.value.toLowerCase();
                    console.log('value')
                    console.log(value)
                    const filteredassembly = assembliesData.filter(item =>
                        (item.assembly_name || '').toLowerCase().includes(value)
                    );
                    populateAssemblyDropdown(filteredassembly);
                    assemblyDropdown.classList.toggle('show');
                });
                

                // Filter resources by input
                resourceInput.addEventListener('input', () => {
                    const value = resourceInput.value.toLowerCase();
                    console.log('value')
                    console.log(value)
                    const filteredresource = resourceData.filter(item =>
                        (item.Resource_Code_L3 || '').toLowerCase().includes(value)
                    );
                    populateResourceDropdown(filteredresource);
                    resourceDropdown.classList.toggle('show');
                });




                
            
                // Close dropdowns when clicking outside
                document.addEventListener('click', (e) => {
                    if (!contractDropdownButton.contains(e.target) && !contractDropdown.contains(e.target)) {
                        contractDropdown.classList.remove('show');
                    }
                    if (!assemblyDropdownButton.contains(e.target) && !assemblyDropdown.contains(e.target)) {
                        assemblyDropdown.classList.remove('show');
                    }
                    if (!resourceDropdownButton.contains(e.target) && !resourceDropdown.contains(e.target)) {
                        resourceDropdown.classList.remove('show');
                    }
                });
            
                // Calculate button click
                document.querySelector('form').addEventListener('submit', (event) => {
                    event.preventDefault();
                    calculateValues();
                });
            
                // Populate the initial resource dropdown
                populateContractDropdown(contractData);



                // function saveExpense(){
                //     const saveButton = document.getElementById('saveExpenseButton');
                //     saveButton.textContent = 'Saving...';
                //     saveButton.disabled = true;

                //     console.log('saveExpense')

                //     const combAssemCode = document.getElementById('Comb_Assem_Code').value;
                //     const contract_value = document.getElementById('hiddencontractInputId').value;
                //     const assembly_value = document.getElementById('hiddenassemblyInputId').value;
                //     const resource_value = document.getElementById('hiddenresourceInputId').value;
                //     const quantity = parseFloat(contractQuantityInput.value) || 0;
                //     const manualUnitCost = parseFloat(manualUnitCostInput.value) || 0;
                //     const budgetUnitCost = parseFloat(budgetUnitCostInput.value) || 0;
                //     const useManual = useManualUnitCostCheckbox.checked;
            
                //     const unitCost = useManual ? manualUnitCost : budgetUnitCost;
                //     const totalCost = unitCost * quantity;

                //     fetch('{% url "save_expense" %}', {
                //         method: 'POST',
                //         body: data,
                //     }).then(response => {
                //         if (response.ok) {
                //             window.location.href = '{% url "contract_list" %}';
                //         } else {
                //             alert('An error occurred while saving the contract.');
                //             saveButton.textContent = 'Save Contract';
                //             saveButton.disabled = false;
                //         }
                //     }).catch(error => {
                //         console.error('Error:', error);
                //         alert('An error occurred while saving the contract.');
                //         saveButton.textContent = 'Save Contract';
                //         saveButton.disabled = false;
                //     });
                // }

                function saveExpense() {
                    const saveButton = document.getElementById('saveExpenseButton');
                    saveButton.textContent = 'Saving...';
                    saveButton.disabled = true;

                    console.log('saveExpense');

                    const expense_id = document.getElementById('expense_id').value;
                    const combAssemCode = document.getElementById('Comb_Assem_Code').value;
                    const Calculate_Manual_Unit_Cost_name = document.getElementById('useManualUnitCost').checked;
                    const contractValue = document.getElementById('hiddencontractInputId').value;
                    const assemblyValue = document.getElementById('hiddenassemblyInputId').value;
                    const resourceValue = document.getElementById('hiddenresourceInputId').value;
                    

                    const quantity = parseFloat(contractQuantityInput.value) || 0;
                    const manualUnitCost = parseFloat(manualUnitCostInput.value) || 0;
                    const budgetUnitCost = parseFloat(budgetUnitCostInput.value) || 0;
                    const useManual = useManualUnitCostCheckbox.checked;

                    const unitCost = useManual ? manualUnitCost : budgetUnitCost;
                    const totalCost = unitCost * quantity;


                    

                    // Prepare the data object
                    const data = new FormData();
                    data.append('expense_id', expense_id);
                    data.append('combAssemCode', combAssemCode);
                    data.append('Calculate_Manual_Unit_Cost_name', Calculate_Manual_Unit_Cost_name);
                    data.append('contractValue', contractValue);
                    data.append('assemblyValue', assemblyValue);
                    data.append('resourceValue', resourceValue);
                    data.append('quantity', quantity);
                    data.append('unitCost', unitCost);
                    data.append('totalCost', totalCost);

                    // Include CSRF token
                    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    data.append('csrfmiddlewaretoken', csrfToken);

                    fetch('{% url "save_expense_edit" %}', {
                        method: 'POST',
                        body: data,
                    })
                        .then(response => {
                            if (response.ok) {
                                window.location.href = '{% url "expense_list" %}';
                            } else {
                                alert('An error occurred while saving the expense.');
                                saveButton.textContent = 'Save Expense';
                                saveButton.disabled = false;
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('An error occurred while saving the expense.');
                            saveButton.textContent = 'Save Expense';
                            saveButton.disabled = false;
                        });
                }
            </script>
            
        </div>
        
        </div>
      </div>
      <!-- Basic with Icons -->
      
    </div>
  </div>

    
{% endblock %}