{% extends 'base.html' %}
{% load static %}
{% block store_active %}active open{% endblock %}
{% block store_list_active %}active{% endblock %}
{% block title %}Create User{% endblock %}
{% block content %}




<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Store /</span> Store List</h4>

    
  
    <!-- Responsive Table -->
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Store List</h5>
        <small class="text-muted float-end"><a class="btn btn-warning" href="{% url 'calculate_stores' %}">Calculate Store</a></small>
      </div>
      <!-- <h5 class="card-header">Store List</h5> -->
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <thead>
            <tr class="text-nowrap">
                <th>Combination Assembly Code</th>
                <th>Trasaction Status</th>
                <th>Contract</th>
                <th>Assembly</th>
                <th>Resource</th>
                <th>Quantity</th>
                <th>Unit Cost</th>
                <th>Total Cost</th>
                <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for store in stores %}
            <tr>
                <td>{{ store.comb_assem_code }}</td>
                <td>
                  {% if store.stock_trasaction_status == "Stock-In" %}<span class="badge badge-primary" style="background: #1d5c15;">{{ store.stock_trasaction_status }}</span>
                  {% else %}<span class="badge badge-primary" style="background: #6d0b04;">{{ store.stock_trasaction_status }}</span>
                  {% endif %}
                </td>
                <td>{{ store.contract_value.contract_name }}</td>
                <td>{{ store.assembly_value.Assembly_Title }}</td>
                <td>{{ store.resource_value.Resource_Title }}</td>
                <td>{{ store.quantity }}</td>
                <td>{{ store.unit_cost }}</td>
                <td>{{ store.total_cost }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{% url 'edit_store' store.pk %}">Edit</a>


                    <a class="btn btn-danger btn-sm" href="{% url 'delete_store' store.pk %}" data-bs-toggle="modal" data-bs-target="#modalCenter{{store.id}}">Delete</a>
                    
            
                    <!-- Modal -->
                    <div class="modal fade" id="modalCenter{{store.id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCenterTitle">Deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h1>Delete Store</h1>
                                    <p>Are you sure you want to delete this store: {{ store.comb_assem_code }}?</p>
                                    <div class="modal-footer">
                                        <form method="post" action="/stores/delete/{{store.id}}/">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                            Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Yes Confirm</button>
                                        </form>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="9" class="text-center text-muted">No Stores</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Responsive Table -->
  </div>

{% endblock %}