# Ignore env files
env
env2

#ignore .env file in the dashboard_1 folder
project/.env


### Django ###
*.log
*.pot
*.pyc
__pycache__/

db.sqlite3
*.sqlite3

media
logs/*


# Ignore database migrations
**/migrations/
**/migrations/*.pyc
**/migrations/*.py


staticfiles