{% extends 'base.html' %}
{% load static %}
{% block Company_SubContract_active %}active open{% endblock %}
{% block List_subcontract_active %}active{% endblock %}
{% block title %}Create User{% endblock %}
{% block content %}

<style>
  .scrollable-div {
      width: 100%;
      max-height: 480px;
      border: 1px solid #ccc;
      overflow-y: scroll; /* Add vertical scroll bar */
  }
</style>



<div class="container-xxl flex-grow-1 container-p-y" style="margin-bottom: 100px;">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Sub-Contract /</span> Sub-Contract: {{ contract.contract_name }}</h4>


  <!-- Responsive Table -->
  <div class="card">
    <h5 class="card-header">Contract (Assembly List) </h5>
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered">
        <thead>
          <tr class="text-nowrap">
            <th>Combination Assembly Code</th>
            <th>Assembly Name</th>
            <th>Unit</th>
            <th>Item Description</th>
            <th>Unit Cost</th>
            <th>Contract Quantity</th>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody>
          {% for detail in contract_details %}
            <tr>
              <td><span class="badge badge-primary" style="background: #0070ff;">{{ detail.comb_assem_code }}</span></td>
              <td>{{ detail.assembly_value.Assembly_Name }}</td>
              <td>{{ detail.unit }}</td>
              <td>{{ detail.item_description }}</td>
              <td>$ {{ detail.unit_cost }}</td>
              <td>{{ detail.subcontract_quantity }}</td>
              <td>$ {{ detail.subcontract_total_price }}</td>
            </tr>
          {% endfor %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><b>$ {{ contract.get_subcontract_total_price }}</b></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Responsive Table -->

  




  <div class="card mt-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Sub-Contract Invoice</h5>
      <small class="text-muted float-end">
        <a class="btn btn-warning " data-bs-toggle="modal" data-bs-target="#modal_maincontract_invoice_table" style="color:white;">All Invoices</a>

        
                  
          <!-- Modal -->
          <div class="modal fade" id="modal_maincontract_invoice_table" tabindex="-1" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-xl" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="modalCenterTitle">Invoice</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="card mt-4">
                          <h5 class="card-header">Invoice List</h5>
                          <div class="table-responsive text-nowrap">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="text-nowrap">
                                        <th>#</th>
                                        <th>Invoice</th>
                                        <th>Action</th>
                                        <th>DateTime</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if filter_main_contract_invoice %}
                                    {% for invoice in filter_main_contract_invoice %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>#INV{{ invoice.id }}</td>
                                        <td>
                                            <button class="btn btn-success btn-sm btn-details" data-target="details_table_tr{{ invoice.id }}" style="color:white;">See details</button>
                                        </td>
                                        <td>{{ invoice.created_at }}</td>
                                    </tr>
                                    <tr style="display: none;" id="details_table_tr{{ invoice.id }}">
                                        <td colspan="4">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr class="text-nowrap">
                                                        <th>#</th>
                                                        <th>Assembly Name</th>
                                                        <th>Invoice Quantity</th>
                                                        <th>Invoice Revenue</th>
                                                        <th>DateTime</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if invoice.filter_SubContractInvoiceDetails %}
                                                    {% for detail in invoice.filter_SubContractInvoiceDetails %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ detail.sub_contract_assembly.comb_assem_code }}</td>
                                                        <td>{{ detail.Invoice_Quantity }}</td>
                                                        <td>$ {{ detail.Invoice_Revenue }}</td>
                                                        <td>{{ detail.created_at }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% else %}
                                                    <tr>
                                                        <td colspan="5" class="text-center text-muted">No Invoices</td>
                                                    </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="4" class="text-center text-muted">No Invoices</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            
                            
                          </div>
                        </div>

                          
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                              Close
                              </button>
                              
                          </div>
                          
                      </div>
                      
                  </div>
              </div>
          </div>




        <a class="btn btn-success " data-bs-toggle="modal" data-bs-target="#modal_maincontract_invoice" style="color:white;">Add Invoice</a>
                  
          <!-- Modal -->
          <div class="modal fade" id="modal_maincontract_invoice" tabindex="-1" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="modalCenterTitle">Invoice</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <h1>Sub-Contract Invoice</h1>
                          

                          <div class="scrollable-div">
                            <div class="table-responsive text-nowrap">
                              <form method="POST" action="{% url 'subcontract_create_invoice' %}">
                                <input type="hidden" name="contract_id" value="{{ contract.id }}">
                                {% csrf_token %}
                                <table class="table table-bordered">
                                  <thead>
                                    <tr class="text-nowrap">
                                      <th>Assembly Name</th>
                                      <th>Contract Quantity</th>
                                      <th>Cumulative Quantity</th>
                                      <th>Remain Quantity</th>
                                      <th>Unit Price</th>
                                      <th>Invoice Quantity</th>
                                      <th>Invoice Revenue</th>
                                      <th> Next Remain Quantity</th>
                                      <th>Remain Revenue</th>
                                    </tr>
                                  </thead>
                                  
                                  <tbody>
                                    {% for detail in contract_details %}
                                      <tr>
                                        <td>{{ detail.assembly_value.Assembly_Name }}</td>
                                        <td>{{ detail.subcontract_quantity }}</td>
                                        <td>{{ detail.func_Assembly_Invoices_total_quantity }}</td>
                                        <td id="remaining_quantity_{{ detail.id }}">{{ detail.calculate_remaining_quantity }}</td>
                                        <td id="unit_price_{{ detail.id }}">{{ detail.unit_cost }}</td>
                                        
                                        <td id="">
                                          <input type="number" class="form-control" id="invoice_qty_{{ detail.id }}" name="invoice_qty_{{ forloop.counter }}" 
                                                 oninput="func_calculate('{{ detail.id }}')" value="0" placeholder="Inv Qty">
                                          <input type="hidden" name="contract_details_id_{{ forloop.counter }}" value="{{ detail.id }}">
                                        </td>
                                        
                                        <td id="show_invoice_revenue{{ detail.id }}">0</td>
                                        <td id="after_remain_quantity{{ detail.id }}">{{ detail.calculate_remaining_quantity }}</td>
                                        <td id="remain_revenue{{ detail.id }}">$ {{ detail.func_Assembly_Invoices_remain_revenue }}</td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                            </div>
                          </div>

                          <script>
                            function func_calculate(detail_id) {
                              
                              detail_id = parseFloat(detail_id)
                              // Get the input quantity
                              var invoiceQty = parseFloat(document.getElementById('invoice_qty_' + detail_id).value) || 0;
                              
                              // Get remaining quantity and unit price
                              var remainingQuantity = parseFloat(document.getElementById('remaining_quantity_' + detail_id).textContent) || 0;
                              var unitPrice = parseFloat(document.getElementById('unit_price_' + detail_id).textContent) || 0;
                              console.log(invoiceQty)
                              console.log(remainingQuantity)
                              if (invoiceQty > remainingQuantity){
                                console.log('input is big')
                                invoiceQty = remainingQuantity;
                                document.getElementById('invoice_qty_' + detail_id).value = remainingQuantity;

                              }
                              // Calculate invoice revenue
                              var invoiceRevenue = invoiceQty * unitPrice;
                              console.log('invoiceRevenue');
                              console.log(invoiceRevenue);
                              
                              // Update the "show_invoice_revenue" field
                              document.getElementById('show_invoice_revenue' + detail_id).textContent = invoiceRevenue.toFixed(2);
                              
                              // Update remaining quantity (adjusting for the input quantity)
                              var updatedRemainingQuantity = remainingQuantity - invoiceQty;
                              console.log(updatedRemainingQuantity)
                              document.getElementById('after_remain_quantity' + detail_id).innerHTML = updatedRemainingQuantity.toFixed(2);
                              
                              // Update the remaining revenue
                              var remainingRevenue = updatedRemainingQuantity * unitPrice;
                              document.getElementById('remain_revenue' + detail_id).textContent = '$ ' + remainingRevenue.toFixed(2);
                            }
                          </script>


                          {% comment %}
                          <form id="project_form" method="POST" action="{% url 'create_invoice' %}" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="row">
                                <div class="mb-3 col-md-12">
                                    <label for="Resource_Code_L1" class="form-label">Choose Assembly</label>
                                    <select class="form-select" id="contract_details_id" name="contract_details_id" required="">
                                        <option value="">-- Select --</option>
                                        {% for detail in contract_details %}
                                        <option value="{{ detail.id }}">{{ detail.assembly_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                  <!-- quantity -->
                                  <div class="mb-3 col-md-12">
                                      <label for="note_book" class="form-label">Invoice Quantity</label>
                                      <input class="form-control" type="number" id="invoice_quantity" name="invoice_quantity">
                                      <input type="hidden" id="contract_id" name="contract_id" value="{{ contract.id }}">
                                  </div>
                                  
                              </div>
                          
                              <!-- Submit Button -->
                              <div class="mt-3">
                                  <button type="submit" class="btn btn-primary">Create Invoice</button>
                              </div>
                          </form>
                          {% endcomment %}


                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                              Close
                              </button>
                              
                          </div>
                          
                      </div>
                      
                  </div>
              </div>
          </div>
      </small>
    </div>
    <div class="table-responsive text-nowrap">
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <thead>
            <tr class="text-nowrap">
              <th>Assembly Name</th>
              <th>Earned %</th>
              <th>Earned To-date<br> Quantity</th>
              <th>Earned Revenue</th>
              <th>Contract Quantity</th>
              <th>Remain Quantity</th>
              <th>Remain Revenue</th>
              <th>Revenue To-date</th>
              <!-- <th>Action</th> -->
            </tr>
          </thead>
          <tbody>
            {% for detail in contract_details %}
              <tr>
                <td><span class="badge badge-primary" style="background: #0070ff;">{{ detail.assembly_value.Assembly_Name }}</span></td>
                <td>{{ detail.calculate_percentage_of_contract_quantity }}%</td>
                <td>{{ detail.func_Assembly_Invoices_total_quantity }}</td>
                <td>$ {{ detail.func_Assembly_Invoices_total_revenue }}</td>
                <td>{{ detail.subcontract_quantity }}</td>
                <td>{{ detail.calculate_remaining_quantity }}</td>
                <td>{{ detail.func_Assembly_Invoices_remain_revenue }}</td>
                <td>$ {{ detail.subcontract_total_price }}</td>
                {% comment %}
                <td>
                    <a class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modal_maincontract_invoice_single_table{{ detail.id }}" style="color:white;">Invoice List</a>

                    <!-- Modal -->
                    <div class="modal fade" id="modal_maincontract_invoice_single_table{{ detail.id }}" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCenterTitle">Invoice</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <div class="card mt-4">
                                    <h5 class="card-header">Invoice List</h5>
                                    <div class="table-responsive text-nowrap">
                                      <table class="table table-bordered">
                                        <thead>
                                          <tr class="text-nowrap">
                                            <th>#</th>
                                            <th>Invoice Quantity</th>
                                            <th>Invoice Revenue</th>
                                            <th>DateTime</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% if detail.filter_contract_assembly_invoices %}
                                          {% for invoice in detail.filter_contract_assembly_invoices %}
                                            <tr>
                                              <td>{{ forloop.counter }}</td>
                                              <td>{{ invoice.Invoice_Quantity }}</td>
                                              <td>$ {{ invoice.Invoice_Revenue }}</td>
                                              <td>$ {{ invoice.created_at }}</td>
                                            </tr>
                                          {% endfor %}
                                          <tr>
                                            <td></td>
                                            <td></td>
                                            <td><b>$ {{ detail.func_Assembly_Invoices_total_revenue }}</b></td>
                                            <td></td>
                                          </tr>
                                          {% else %}
                                          <tr>
                                            <td colspan="4" class="text-center text-muted">No Invoices</td>
                                          </tr>
                                          {% endif %}
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>

                                    
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        Close
                                        </button>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </td>
                {% endcomment %}
              </tr>
              
            {% empty %}
              <tr>
                <td colspan="5" class="text-center text-muted">No Invoice</td>
              </tr>
            {% endfor %}
            <tr>
              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>
              <td >$ {{ contract.calculate_total_price }}</td>
              
            </tr>
              
          </tbody>
        </table>
    </div>



  </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script>
    $(document).ready(function() {
        $(".btn-details").click(function() {
            var targetId = $(this).data("target");
            $("#" + targetId).toggle();
        });
    });
</script>
{% endblock %}
